# Datos y Binarios (Ya están en el bucket: coreproyecto-ds-datos)
*.csv
*.parquet
*.pkl
*.h5
*.joblib
*.zip

# Python y Virtual Envs
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter y Google Colab
.ipynb_checkpoints
.config/
sample_data/
shell-init.log

# Sistema
.DS_Store
Thumbs.db
